.message-error {
  border: 1px solid #ff6161;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: white;
  background: #ff6161;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px !important;
  margin: 0 auto;
  font-style: normal !important;
  font-family: Arial, Helvetica, sans-serif;
}