
.legend h5 {
  font-weight: bold;
  text-decoration: dotted;
  font-style: oblique;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
}

.legend p {
  text-align: center;
  font-style: italic;
  font-size: 17px;
  white-space: pre-line;
}

.legend .section {
  padding: 10px;
}

.legend button {
  display: inline;
}